<ion-header>
  <ion-toolbar class="ios hydrated">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="ios title-ios hydrated">Add Product</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list lines="full" class="ion-no-margin ion-no-padding ios list-ios list-lines-full list-ios-lines-full hydrated">
    <form [formGroup]="productForm" (ngSubmit)="onFormSubmit()" novalidate>
      <ion-item>
        <ion-label position="floating">Barcode</ion-label>
        <ion-input formControlName="barcode" type="text" required></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.barcode.errors?.required">
        Barcode is required.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.barcode.errors?.maxlength">
        Barcode should be max 250 chars long.
      </span>

      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input formControlName="product_name" type="text" required></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.product_name.errors?.required">
        Product name is required.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.product_name.errors?.maxlength">
        Product name should be max 250 chars long.
      </span>

      <ion-item>
        <ion-label position="floating">Stock</ion-label>
        <ion-input formControlName="stock" type="number" required>
        </ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.stock.errors?.required">
        Stock is required.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.stock.errors?.isValid">
        Stock must be a number.
      </span>

      <ion-item>
        <ion-label position="floating">Price</ion-label>
        <ion-input formControlName="price" type="number" required>
        </ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.price.errors?.required">
        Stock is required.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.price.errors?.isValid">
        Stock must be a number.
      </span>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block">Add Product</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>
